<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Appartment %><br>
    <%= f.text_field :Appartment %>
  </div>
  <div class="field">
    <%= f.label :Street %><br>
    <%= f.text_field :Street %>
  </div>
  <div class="field">
    <%= f.label :City %><br>
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :PostalCode %><br>
    <%= f.text_field :PostalCode %>
  </div>
  <div class="field">
    <%= f.label :Province %><br>
    <%= select("order", "Province", options_for_select([['Ontario', 'Ontario'], ['Manitoba', 'Manitoba'], ['Saskatchewan','Saskatchewan'],['Quebec','Quebec']])) %>
  
  </div>
  <div class="field">
    <%= f.radio_button("Size", "Small", :value => "Small") %>
    <%= label_tag(:Size, "Small") %>
    
    <%= f.radio_button("Size", "Medium", :value => "Medium") %>
    <%= label_tag(:Size, "Medium") %>
    
    <%= f.radio_button("Size", "Large", :value => "Large") %>
    <%= label_tag(:Size, "Large") %>
    
    <%= f.radio_button("Size", "X-Large", :value => "X-Large") %>
    <%= label_tag(:Size, "X-Large") %>
</div>

  <div class="field">
   <%= f.label :VEGTOPPINGS%><br>
    <%= label_tag 'vegtoppings_onions', 'Onions' %>
    <%= check_box_tag 'order[VegToppings][]', 'Onions', checked('Onions'), id: 'vegtoppings_onions' %>
    
    <%= label_tag 'vegtoppings_pineapple', 'Pineapple' %>
    <%= check_box_tag 'order[VegToppings][]', 'Pineapple', checked('Pineapple'), id: 'vegtoppings_pineapple' %>
    
    <%= label_tag 'vegtoppings_capsicum', 'Capsicum' %>
    <%= check_box_tag 'order[VegToppings][]', 'Capsicum', checked('Capsicum'), id: 'vegtoppings_capsicum ' %>
    
    <%= label_tag 'vegtoppings_mushroom', 'Mushroom' %>
    <%= check_box_tag 'order[VegToppings][]', 'Mushroom', checked('Mushroom'), id: 'vegtoppings_mushroom ' %>
    
    <%= label_tag 'vegtoppings_greenolives', 'GreenOlives' %>
    <%= check_box_tag 'order[VegToppings][]', 'GreenOlives', checked('GreenOlives'), id: 'vegtoppings_greenolives ' %>
    
    <%= label_tag 'vegtoppings_blackpeppers', 'BlackPeppers' %>
    <%= check_box_tag 'order[VegToppings][]', 'BlackPeppers', checked('BlackPeppers'), id: 'vegtoppings_blackpeppers ' %>
   </div>
   
  <div class="field">
      <%= f.label :NONVEGTOPPINGS%><br>
    <%= label_tag 'nonvegtoppings_pepproni', 'Pepproni' %>
    <%= check_box_tag 'order[NonVegToppings][]', 'Pepproni', checked('Pepproni'), id: 'nonvegtoppings_pepproni' %>
    
    <%= label_tag 'nonvegtoppings_sausage', 'Sausage' %>
    <%= check_box_tag 'order[NonVegToppings][]', 'Sausage', checked('Sausage'), id: 'nonvegtoppings_sausage' %>
    
    <%= label_tag 'nonvegtoppings_beaf', 'Beaf' %>
    <%= check_box_tag 'order[NonVegToppings][]', 'Beaf', checked('Beaf'), id: 'nonvegtoppings_beaf ' %>
    
    <%= label_tag 'nonvegtoppings_ham', 'Ham' %>
    <%= check_box_tag 'order[NonVegToppings][]', 'Ham', checked('Ham'), id: 'nonvegtoppings_ham' %>
    
    <%= label_tag 'nonvegtoppings_bacon', 'Bacon' %>
    <%= check_box_tag 'order[NonVegToppings][]', 'Bacon', checked('Bacon'), id: 'nonvegtoppings_bacon ' %>
    
 </div>
 
  <div class="field">
    <%= f.label :Crust %><br>
    <%= f.radio_button("Crust", "Original Hand Tossed") %>
    <%= label_tag(:crust, "Original Hand Tossed") %>
    
    <%= f.radio_button("Crust", "Stuffed Crust") %>
    <%= label_tag(:crust, "Stuffed Crust") %>
    
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

