<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="container">
			<div class="jumbotron">
			   <h3>WELCOME TO CONESTOGA PIZZERIA</h3>
				</div>
				    <div class ="container"></div>
				      	<nav class="navbar navbar-default">
                	<div class="navbar-header">
							    	<ul class="nav navbar-nav">
									<li class="active"><%= link_to 'Home', customers_path %></li>
										<li><%= link_to 'Orders', orders_path %></li>
									    <% if customer_signed_in? %>
  									<% if current_customer.admin? %>
  									<li>
  									  <%= link_to 'Show All Orders', orders_path  %>   
  									 </li>
  									<% end %>
                    <li>
                    <%= link_to('Logout', destroy_customer_session_path, :method => :delete) %>        
                    </li>
                  <% else %>
                    <li>
                    <%= link_to('Login', new_customer_session_path)  %>  
                    </li>
                  <% end %>
								</ul>
							</div>       
				   </nav>
                    </div>
 <div class = "container" id="yield">
<%= yield %>
</div>
</body>
</html>
 